<div class="flex items-center justify-center flex-col gap-4">
  <span>
    Bad Practices
  </span>

  <div class="flex items-center justify-center flex-col gap-4">

    <div class="h-full w-full max-w-2xl flex flex-col gap-4">
      <div
        class="bg-red-500 text-white text-center items-center justify-center flex flex-col"
        {{this.badPracticeModifier @modifiedArg}}
      >
        <span>ELEMENT </span>

      </div>
    </div>
  </div>
</div>