<LinkTo @route="application" class="grid place-items-center py-4 text-2xl">EMBER
  REACTIVITY
</LinkTo>
<div class="flex h-screen w-full items-center justify-center gap-4">
  <LinkTo
    @route="ember-concurrency"
    class="border rounded-sm border-blue-500 p-2"
  >
    Ember Concurrency
  </LinkTo>
  <LinkTo
    @route="ember-modifiers"
    class="border rounded-sm border-blue-500 p-2"
  >
    Ember Modifiers
  </LinkTo>
</div>